flows.json
[
    {
        "id": "0e9b6e83699a936b",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e38da52e5679f0be",
        "type": "group",
        "z": "0e9b6e83699a936b",
        "name": "System Events",
        "style": {
            "label": true
        },
        "nodes": [
            "6d8d56ec1e35e476",
            "f41245122e6cff1d",
            "e0138284e2c09884",
            "37eab63bc5230576",
            "0a310e06b4292d47",
            "574e6736a280d598"
        ],
        "x": 34,
        "y": 139,
        "w": 302,
        "h": 162
    },
    {
        "id": "f140c03cd0252bfb",
        "type": "group",
        "z": "0e9b6e83699a936b",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "7877610e9446b5aa",
            "e9d7f2bb5235afb0",
            "6dd740798336e33c"
        ],
        "x": 354,
        "y": 139,
        "w": 362,
        "h": 82
    },
    {
        "id": "b3347a2580c58dea",
        "type": "group",
        "z": "0e9b6e83699a936b",
        "name": "Game State",
        "style": {
            "label": true
        },
        "nodes": [
            "3d988688d528b497",
            "418d947d92d5c979",
            "7d5b08fa137d79b3",
            "1185277447cbe044",
            "9551d5269e5df73d",
            "f11001833c75f582",
            "c94cba2ac4521bb0",
            "139166a6297ed2e3",
            "a92dc4ae64fd20fc",
            "bee0b6fbe7d58380",
            "1009ecbecdde0354",
            "42549cd797aeedc9",
            "9238ddca0e1a3d85",
            "2e9397b8414319d9"
        ],
        "x": 34,
        "y": 319,
        "w": 672,
        "h": 162
    },
    {
        "id": "7dae6bb0080ed610",
        "type": "group",
        "z": "0e9b6e83699a936b",
        "name": "Timer",
        "style": {
            "label": true
        },
        "nodes": [
            "85c6af671bb6d06d",
            "4e8e208e95aff9af",
            "bf0e90488198976d",
            "d129991d9a5ab333",
            "d37f5d54578b73b3",
            "4502951251b4bd6c",
            "b604b62acb653363",
            "4990cf4d3d5c7aeb",
            "693af0266a738886",
            "12db1fbec89853d6",
            "f760cc5a8ffaba23"
        ],
        "x": 34,
        "y": 499,
        "w": 822,
        "h": 242
    },
    {
        "id": "5131f7b8cd68af74",
        "type": "group",
        "z": "0e9b6e83699a936b",
        "name": "Dashboad Config",
        "style": {
            "label": true
        },
        "nodes": [
            "9719c523f57b592a"
        ],
        "x": 734,
        "y": 139,
        "w": 252,
        "h": 82
    },
    {
        "id": "7293852c04840e70",
        "type": "group",
        "z": "0e9b6e83699a936b",
        "name": "Wheels",
        "style": {
            "label": true
        },
        "nodes": [
            "1de4612c5ce8e78c",
            "1f2ceadc490ad4d6",
            "2d52fc135d18ef1c",
            "633925c92a74f007",
            "d4a063abd5553fe6",
            "470f5906fcb84851",
            "bab035e7063a3932",
            "4914960f90ca3cc1",
            "3929d6b8ab478257",
            "06a789f1442e69fe",
            "c88774fe78928b1c",
            "f06474adf5c555fd"
        ],
        "x": 34,
        "y": 759,
        "w": 552,
        "h": 282
    },
    {
        "id": "32c848157be87e68",
        "type": "group",
        "z": "0e9b6e83699a936b",
        "name": "Water",
        "style": {
            "label": true
        },
        "nodes": [
            "19bcee72d8607c78",
            "c8286de640741d08",
            "9c33762e49bd99bb",
            "288ce8644d0efee5",
            "c8a4357217c5c9fc",
            "b47d118da4eb988a",
            "959dae9bb36dc85f",
            "aa16ccd3f5f28505",
            "cd2a8ed5de01de4e",
            "ca19b9cff9beedcd",
            "c80ad87ebaf6feb7",
            "fb38e42fc34d5c58"
        ],
        "x": 34,
        "y": 1059,
        "w": 552,
        "h": 282
    },
    {
        "id": "dfd306472dc35c1f",
        "type": "group",
        "z": "0e9b6e83699a936b",
        "name": "Star",
        "style": {
            "label": true
        },
        "nodes": [
            "d5bf3b86404dd608",
            "4271aafd094ebdb3",
            "879772adf4990c16",
            "1dec64eb0ccf774f",
            "ea7a98b39f6d9780",
            "46dc148489aa55e6",
            "619a79109c4f4690",
            "76e047cebbad8e36",
            "63441f4d4f7f3d90",
            "38f87d2518380b77",
            "4c6bd67051f7725e",
            "ef86f82a50ba9315"
        ],
        "x": 614,
        "y": 759,
        "w": 552,
        "h": 282
    },
    {
        "id": "1185277447cbe044",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "playing",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 360,
        "wires": [
            [
                "a92dc4ae64fd20fc"
            ]
        ]
    },
    {
        "id": "9551d5269e5df73d",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "stopped",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "$globalContext('elapsedTimeDelta') + $millis() - $flowContext('startTime')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 400,
        "wires": [
            [
                "1009ecbecdde0354"
            ]
        ]
    },
    {
        "id": "f11001833c75f582",
        "type": "switch",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "playing",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 360,
        "wires": [
            [
                "1185277447cbe044"
            ]
        ]
    },
    {
        "id": "c94cba2ac4521bb0",
        "type": "switch",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "",
        "property": "gameState",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "stopped",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "9551d5269e5df73d"
            ]
        ]
    },
    {
        "id": "139166a6297ed2e3",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "gameDuration",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "timeElapsed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 440,
        "wires": [
            [
                "9238ddca0e1a3d85"
            ]
        ]
    },
    {
        "id": "7877610e9446b5aa",
        "type": "function",
        "z": "0e9b6e83699a936b",
        "g": "f140c03cd0252bfb",
        "name": "Initialise Global Vars",
        "func": "global.set(\"gameState\", \"stopped\");\nglobal.set(\"gameDuration\", 3600000);\nglobal.set(\"elapsedTimeDelta\", 0);\nglobal.set(\"timeRemaining\", 3600000);\nglobal.set(\"wheelState\", \"UNSOLVED\");\nglobal.set(\"waterState\", \"UNSOLVED\");\nglobal.set(\"starState\", \"UNSOLVED\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "6dd740798336e33c"
            ]
        ]
    },
    {
        "id": "e9d7f2bb5235afb0",
        "type": "link in",
        "z": "0e9b6e83699a936b",
        "g": "f140c03cd0252bfb",
        "name": "Initialise Variables",
        "links": [
            "e0138284e2c09884"
        ],
        "x": 395,
        "y": 180,
        "wires": [
            [
                "7877610e9446b5aa"
            ]
        ]
    },
    {
        "id": "a92dc4ae64fd20fc",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "On Game Start",
        "links": [
            "65781ff6.32997",
            "f64afdb2.ae6738",
            "d129991d9a5ab333",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 360,
        "wires": []
    },
    {
        "id": "bee0b6fbe7d58380",
        "type": "comment",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "On Game Start",
        "info": "",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "1009ecbecdde0354",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "On Game Stop",
        "links": [
            "b6c64fbb.744e7",
            "f64afdb2.ae6738",
            "d129991d9a5ab333",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 400,
        "wires": []
    },
    {
        "id": "42549cd797aeedc9",
        "type": "comment",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "On Game Stop",
        "info": "",
        "x": 600,
        "y": 400,
        "wires": []
    },
    {
        "id": "9238ddca0e1a3d85",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "On Game Reset",
        "links": [
            "b72df54c.54dbc8",
            "f476429e.39f778",
            "fad501df9730e3cd",
            "5051fca6f0fc24ce",
            "771ef7315cbeaed4",
            "6aa55bc0969c2645",
            "f64afdb2.ae6738",
            "27a13ceb38ba3113",
            "b24d6dd76f244e1c",
            "561c4af966865974",
            "d129991d9a5ab333",
            "fde61d47216f1287"
        ],
        "x": 495,
        "y": 440,
        "wires": []
    },
    {
        "id": "2a923135113b296e",
        "type": "comment",
        "z": "0e9b6e83699a936b",
        "name": "Main Flow",
        "info": "This flow contains nodes that define the overall configuration and monitor state of the system.\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "6d8d56ec1e35e476",
        "type": "inject",
        "z": "0e9b6e83699a936b",
        "g": "e38da52e5679f0be",
        "name": "Every second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "37eab63bc5230576"
            ]
        ]
    },
    {
        "id": "f41245122e6cff1d",
        "type": "inject",
        "z": "0e9b6e83699a936b",
        "g": "e38da52e5679f0be",
        "name": "On Initialisation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Initialise",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "e0138284e2c09884"
            ]
        ]
    },
    {
        "id": "e0138284e2c09884",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "e38da52e5679f0be",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "e9d7f2bb5235afb0",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6"
        ],
        "x": 295,
        "y": 180,
        "wires": []
    },
    {
        "id": "37eab63bc5230576",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "e38da52e5679f0be",
        "name": "On Tick",
        "links": [
            "81cfa1d4.86b898",
            "d129991d9a5ab333",
            "d9928e8d.c5c588",
            "c0f514cb.a0e9c8",
            "e1535ac3.a19198",
            "e4a697a8.359b38",
            "8bdfc662.b74d28",
            "fde61d47216f1287"
        ],
        "x": 295,
        "y": 220,
        "wires": []
    },
    {
        "id": "574e6736a280d598",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "e38da52e5679f0be",
        "name": "On Browser Refresh",
        "links": [
            "91bbad40.53273"
        ],
        "x": 295,
        "y": 260,
        "wires": []
    },
    {
        "id": "6dd740798336e33c",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "f140c03cd0252bfb",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6",
            "d129991d9a5ab333",
            "fde61d47216f1287",
            "1de4612c5ce8e78c",
            "19bcee72d8607c78",
            "d5bf3b86404dd608"
        ],
        "x": 675,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e9397b8414319d9",
        "type": "comment",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "On Game Reset",
        "info": "",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "85c6af671bb6d06d",
        "type": "function",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "Update Timer",
        "func": "// Retrieve current state of global timer variables\nvar gameState = global.get(\"gameState\") || 'playing';\nvar gameDuration = global.get(\"gameDuration\") || 0;\nvar elapsedTimeDelta = global.get(\"elapsedTimeDelta\") || 0;\n// Total time elapsed is duration since the start button was last pressed, + any adjustments\nvar timeElapsed = 0;\nvar startTime = flow.get(\"startTime\") || 0;\n\n// If the game is in progress, update the time passed since start button was last pressed\nif(gameState == \"playing\") {\n    timeElapsed = (Date.now() - startTime);\n}\n\n// We update these even if gameState is not playing, to allow for\n// adjustments to gameDuration or timeElapsed made while game is stopped\nvar timeElapsedAfterAdjustments = timeElapsed + elapsedTimeDelta;\nvar timeRemaining = gameDuration - timeElapsedAfterAdjustments;\n\n// Update the global variable so that it is available to other nodes if required\nglobal.set(\"timeRemaining\", timeRemaining);\n\n// Update the msg to carry string\nmsg.timeElapsed = timeElapsedAfterAdjustments;        \nmsg.timeRemaining = timeRemaining;\n\n// Display status nof this node in the flow\nnode.status({ fill: \"green\", shape: \"dot\", text: timeRemaining });\n\n// Only need to update UI if timeRemaining has changed\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 540,
        "wires": [
            [
                "bf0e90488198976d"
            ]
        ]
    },
    {
        "id": "bf0e90488198976d",
        "type": "function",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "Format Time for Dashboard Display",
        "func": "// Create formattedTime in hh:mm:ss\nvar t = msg.timeElapsed / 1000; //ms\nvar h = Math.floor(t / 3600);\nvar m = Math.floor(t % 3600 / 60);\nvar s = Math.floor(t % 3600 % 60);\nmsg.formattedTimeElapsed = (\"0\" + h).slice(-2) + \":\" + (\"0\" + m).slice(-2) + \":\" + (\"0\" + s).slice(-2);\n\nvar t2 = msg.timeRemaining / 1000; //ms\nvar h2 = Math.floor(t2 / 3600);\nvar m2 = Math.floor(t2 % 3600 / 60);\nvar s2 = Math.floor(t2 % 3600 % 60);\nmsg.formattedTimeRemaining = (\"0\" + h2).slice(-2) + \":\" + (\"0\" + m2).slice(-2) + \":\" + (\"0\" + s2).slice(-2);\n\nvar t3 = global.get(\"gameDuration\") / 1000; //ms\nvar h3 = Math.floor(t3 / 3600);\nvar m3 = Math.floor(t3 % 3600 / 60);\nvar s3 = Math.floor(t3 % 3600 % 60);\nmsg.formattedGameDuration = (\"0\" + h3).slice(-2) + \":\" + (\"0\" + m3).slice(-2) + \":\" + (\"0\" + s3).slice(-2);\n\n// Set timeColour depending on current gamestate and time remaining\nvar gameState = global.get(\"gameState\");\nif (gameState == \"playing\") {\n    if (msg.timeRemaining < 60000) { msg.timeColour = \"red\"; }\n    else { msg.timeColour = \"green\"; }\n}\nelse { msg.timeColour = \"gray\"; }\n\n// Update the editor node\nnode.status({ fill: msg.timeColour, shape:\"dot\", text:msg.formattedTimeRemaining});\n\n// Forward the message along the flow\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "4e8e208e95aff9af",
                "12db1fbec89853d6"
            ]
        ]
    },
    {
        "id": "d129991d9a5ab333",
        "type": "link in",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "Update Timer",
        "links": [
            "1009ecbecdde0354",
            "37eab63bc5230576",
            "693af0266a738886",
            "6dd740798336e33c",
            "9238ddca0e1a3d85",
            "a92dc4ae64fd20fc"
        ],
        "x": 85,
        "y": 540,
        "wires": [
            [
                "85c6af671bb6d06d"
            ]
        ]
    },
    {
        "id": "b604b62acb653363",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') + (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 660,
        "wires": [
            [
                "693af0266a738886"
            ]
        ]
    },
    {
        "id": "4990cf4d3d5c7aeb",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameDuration",
                "pt": "global",
                "to": "$globalContext('gameDuration') - (5000 * 60)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 700,
        "wires": [
            [
                "693af0266a738886"
            ]
        ]
    },
    {
        "id": "693af0266a738886",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "On Time Adjust",
        "mode": "link",
        "links": [
            "d129991d9a5ab333"
        ],
        "x": 495,
        "y": 680,
        "wires": []
    },
    {
        "id": "f760cc5a8ffaba23",
        "type": "comment",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "Adjustments to game duration or time taken",
        "info": "",
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "5ac1f4e237f3aa75",
        "type": "comment",
        "z": "0e9b6e83699a936b",
        "name": "This flow requires the node-red-dashboard module, which can be installed from the Pallete Manager",
        "info": "This flow contains nodes that define the overall configuration and monitor state of the system.\n",
        "x": 390,
        "y": 80,
        "wires": []
    },
    {
        "id": "1de4612c5ce8e78c",
        "type": "link in",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "wheelLinkIn",
        "links": [
            "6dd740798336e33c",
            "d4a063abd5553fe6"
        ],
        "x": 75,
        "y": 840,
        "wires": [
            [
                "06a789f1442e69fe"
            ]
        ]
    },
    {
        "id": "2d52fc135d18ef1c",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 960,
        "wires": [
            [
                "d4a063abd5553fe6"
            ]
        ]
    },
    {
        "id": "d4a063abd5553fe6",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "wheelLinkOut",
        "mode": "link",
        "links": [
            "1de4612c5ce8e78c"
        ],
        "x": 545,
        "y": 960,
        "wires": []
    },
    {
        "id": "3929d6b8ab478257",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "d4a063abd5553fe6"
            ]
        ]
    },
    {
        "id": "06a789f1442e69fe",
        "type": "function",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "global to msg",
        "func": "msg.wheelState = global.get(\"wheelState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 840,
        "wires": [
            [
                "470f5906fcb84851"
            ]
        ]
    },
    {
        "id": "c88774fe78928b1c",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 920,
        "wires": [
            [
                "d4a063abd5553fe6"
            ]
        ]
    },
    {
        "id": "19bcee72d8607c78",
        "type": "link in",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "WaterLinkIn",
        "links": [
            "6dd740798336e33c",
            "c8a4357217c5c9fc"
        ],
        "x": 75,
        "y": 1140,
        "wires": [
            [
                "ca19b9cff9beedcd"
            ]
        ]
    },
    {
        "id": "9c33762e49bd99bb",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "waterState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waterState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "c8a4357217c5c9fc"
            ]
        ]
    },
    {
        "id": "c8a4357217c5c9fc",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "waterLinkOut",
        "mode": "link",
        "links": [
            "19bcee72d8607c78"
        ],
        "x": 545,
        "y": 1260,
        "wires": []
    },
    {
        "id": "cd2a8ed5de01de4e",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "waterState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waterState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1300,
        "wires": [
            [
                "c8a4357217c5c9fc"
            ]
        ]
    },
    {
        "id": "ca19b9cff9beedcd",
        "type": "function",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "global to msg",
        "func": "msg.waterState = global.get(\"waterState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "b47d118da4eb988a"
            ]
        ]
    },
    {
        "id": "c80ad87ebaf6feb7",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "waterState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waterState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1220,
        "wires": [
            [
                "c8a4357217c5c9fc"
            ]
        ]
    },
    {
        "id": "d5bf3b86404dd608",
        "type": "link in",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "StartLinkIn",
        "links": [
            "6dd740798336e33c",
            "ea7a98b39f6d9780"
        ],
        "x": 655,
        "y": 840,
        "wires": [
            [
                "38f87d2518380b77"
            ]
        ]
    },
    {
        "id": "879772adf4990c16",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 960,
        "wires": [
            [
                "ea7a98b39f6d9780"
            ]
        ]
    },
    {
        "id": "ea7a98b39f6d9780",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "StarLinkOut",
        "mode": "link",
        "links": [
            "d5bf3b86404dd608"
        ],
        "x": 1125,
        "y": 960,
        "wires": []
    },
    {
        "id": "63441f4d4f7f3d90",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1000,
        "wires": [
            [
                "ea7a98b39f6d9780"
            ]
        ]
    },
    {
        "id": "38f87d2518380b77",
        "type": "function",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "global to msg",
        "func": "msg.starState = global.get(\"starState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 840,
        "wires": [
            [
                "46dc148489aa55e6"
            ]
        ]
    },
    {
        "id": "4c6bd67051f7725e",
        "type": "change",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 920,
        "wires": [
            [
                "ea7a98b39f6d9780"
            ]
        ]
    },
    {
        "id": "3d988688d528b497",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "",
        "group": "2167d545401575ce",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-play",
        "payload": "{\"msg\":{\"payload\":\"gamestart\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "f11001833c75f582"
            ]
        ]
    },
    {
        "id": "418d947d92d5c979",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "",
        "group": "2167d545401575ce",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "fa-stop",
        "payload": "{     \"payload\": \"cancel\" }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "c94cba2ac4521bb0"
            ]
        ]
    },
    {
        "id": "7d5b08fa137d79b3",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "b3347a2580c58dea",
        "name": "",
        "group": "2167d545401575ce",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "fa-fast-backward",
        "payload": "{\"timeout\": 600 }",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "139166a6297ed2e3"
            ]
        ]
    },
    {
        "id": "d37f5d54578b73b3",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "",
        "group": "2167d545401575ce",
        "order": 17,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "+5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "fa-plus",
        "payload": "{\"msg\":{\"payload\":\"add5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "b604b62acb653363"
            ]
        ]
    },
    {
        "id": "4502951251b4bd6c",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "name": "",
        "group": "2167d545401575ce",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-5min",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "fa-minus",
        "payload": "{\"msg\":{\"payload\":\"deduct5\",\"timeout\":600,\"warning\":30}}",
        "payloadType": "json",
        "topic": "/game",
        "topicType": "str",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "4990cf4d3d5c7aeb"
            ]
        ]
    },
    {
        "id": "1f2ceadc490ad4d6",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "",
        "group": "2167d545401575ce",
        "order": 23,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "wheels reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wheels_reset",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "c88774fe78928b1c",
                "f06474adf5c555fd"
            ]
        ]
    },
    {
        "id": "633925c92a74f007",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "",
        "group": "2167d545401575ce",
        "order": 26,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "wheels hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wheels_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "2d52fc135d18ef1c",
                "f06474adf5c555fd"
            ]
        ]
    },
    {
        "id": "4914960f90ca3cc1",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "",
        "group": "2167d545401575ce",
        "order": 29,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "wheels solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wheels_solve",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "3929d6b8ab478257",
                "f06474adf5c555fd"
            ]
        ]
    },
    {
        "id": "c8286de640741d08",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "",
        "group": "2167d545401575ce",
        "order": 24,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "water reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "water_reset",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "c80ad87ebaf6feb7",
                "fb38e42fc34d5c58"
            ]
        ]
    },
    {
        "id": "288ce8644d0efee5",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "",
        "group": "2167d545401575ce",
        "order": 27,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "water hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "water_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 120,
        "y": 1260,
        "wires": [
            [
                "9c33762e49bd99bb",
                "fb38e42fc34d5c58"
            ]
        ]
    },
    {
        "id": "aa16ccd3f5f28505",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "",
        "group": "2167d545401575ce",
        "order": 30,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "water solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "water_solve",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "cd2a8ed5de01de4e",
                "fb38e42fc34d5c58"
            ]
        ]
    },
    {
        "id": "4271aafd094ebdb3",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "",
        "group": "2167d545401575ce",
        "order": 25,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "star reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "star_reset",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 700,
        "y": 920,
        "wires": [
            [
                "4c6bd67051f7725e",
                "ef86f82a50ba9315"
            ]
        ]
    },
    {
        "id": "1dec64eb0ccf774f",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "",
        "group": "2167d545401575ce",
        "order": 28,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "star hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "star_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 700,
        "y": 960,
        "wires": [
            [
                "879772adf4990c16",
                "ef86f82a50ba9315"
            ]
        ]
    },
    {
        "id": "76e047cebbad8e36",
        "type": "ui_button",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "",
        "group": "2167d545401575ce",
        "order": 31,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "star solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "star_solve",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 700,
        "y": 1000,
        "wires": [
            [
                "63441f4d4f7f3d90",
                "ef86f82a50ba9315"
            ]
        ]
    },
    {
        "id": "12db1fbec89853d6",
        "type": "ui_text",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "group": "2167d545401575ce",
        "order": 16,
        "width": 2,
        "height": 1,
        "name": "Game Duration",
        "label": "Duration",
        "format": "{{msg.formattedGameDuration}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "470f5906fcb84851",
        "type": "ui_text",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "group": "2167d545401575ce",
        "order": 32,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.wheelState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 840,
        "wires": []
    },
    {
        "id": "bab035e7063a3932",
        "type": "ui_text",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "group": "2167d545401575ce",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Spinning Wheels",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 800,
        "wires": []
    },
    {
        "id": "b47d118da4eb988a",
        "type": "ui_text",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "group": "2167d545401575ce",
        "order": 33,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.waterState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 1140,
        "wires": []
    },
    {
        "id": "959dae9bb36dc85f",
        "type": "ui_text",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "group": "2167d545401575ce",
        "order": 21,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Transferring Water",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 1100,
        "wires": []
    },
    {
        "id": "46dc148489aa55e6",
        "type": "ui_text",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "group": "2167d545401575ce",
        "order": 34,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.starState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 840,
        "wires": []
    },
    {
        "id": "619a79109c4f4690",
        "type": "ui_text",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "group": "2167d545401575ce",
        "order": 22,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Starry Night",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 800,
        "wires": []
    },
    {
        "id": "0a310e06b4292d47",
        "type": "ui_ui_control",
        "z": "0e9b6e83699a936b",
        "g": "e38da52e5679f0be",
        "name": "On Browser Refresh",
        "events": "all",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "574e6736a280d598"
            ]
        ]
    },
    {
        "id": "9719c523f57b592a",
        "type": "ui_template",
        "z": "0e9b6e83699a936b",
        "g": "5131f7b8cd68af74",
        "group": "2167d545401575ce",
        "name": "CSS-style overrides",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /* Don't let title expand */\n    md-card md-card-title {\n        flex: 0 0 auto !important;\n    }\n\n    /* Don't show scrollbars */\n    .nr-dashboard-template {\n        overflow-y: hidden !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 860,
        "y": 180,
        "wires": [
            []
        ],
        "info": "CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"
    },
    {
        "id": "4e8e208e95aff9af",
        "type": "ui_template",
        "z": "0e9b6e83699a936b",
        "g": "7dae6bb0080ed610",
        "group": "2167d545401575ce",
        "name": "Time Remaining",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Time Remaining</p>\n    </md-card-title-text>\n    <span ng-class=\"'fa fa-clock-o fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div style=\"text-align:center\">\n        <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:3em;\">\n            {{msg.formattedTimeRemaining}}\n        </span>\n    </div>\n</md-card-content>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3b239c2d553ac9ce",
        "type": "mqtt in",
        "z": "0e9b6e83699a936b",
        "name": "",
        "topic": "Topic",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9a7a68b2be818d4e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 890,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "83bd4780ea0f08b4",
        "type": "mqtt out",
        "z": "0e9b6e83699a936b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9a7a68b2be818d4e",
        "x": 1010,
        "y": 1200,
        "wires": []
    },
    {
        "id": "f06474adf5c555fd",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "7293852c04840e70",
        "name": "wheelMQTTLinkOut",
        "mode": "link",
        "links": [
            "7c3b856ca1ea044b"
        ],
        "x": 255,
        "y": 900,
        "wires": []
    },
    {
        "id": "7c3b856ca1ea044b",
        "type": "link in",
        "z": "0e9b6e83699a936b",
        "name": "MQTTOutLinkIn",
        "links": [
            "f06474adf5c555fd",
            "fb38e42fc34d5c58",
            "ef86f82a50ba9315"
        ],
        "x": 865,
        "y": 1200,
        "wires": [
            [
                "83bd4780ea0f08b4"
            ]
        ]
    },
    {
        "id": "fb38e42fc34d5c58",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "32c848157be87e68",
        "name": "WaterMQTTLinkOut",
        "mode": "link",
        "links": [
            "7c3b856ca1ea044b"
        ],
        "x": 255,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ef86f82a50ba9315",
        "type": "link out",
        "z": "0e9b6e83699a936b",
        "g": "dfd306472dc35c1f",
        "name": "StarMQTTLinkOut",
        "mode": "link",
        "links": [
            "7c3b856ca1ea044b"
        ],
        "x": 815,
        "y": 900,
        "wires": []
    },
    {
        "id": "06f1b44bf4bb4f13",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "206ab0e9428991e4",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "0d1bab432d7bcd1c",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "ed02403dfdba7283",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "70461969554f0bc7",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "6ce9acb2dce06261",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "04c08808f4cb8918",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "61ed02a5c0034fce",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "d372eb825884e896",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "71a3813bc867bcd9",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "524db4af694c45b4",
        "type": "ui_spacer",
        "z": "0e9b6e83699a936b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 19,
        "width": 18,
        "height": 1
    },
    {
        "id": "2167d545401575ce",
        "type": "ui_group",
        "name": "Game Control",
        "tab": "ff24fa37c64a35b4",
        "order": 1,
        "disp": false,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a7a68b2be818d4e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ff24fa37c64a35b4",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    }
]