flows.json
[
    {
        "id": "0979b50bccfb395b",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b82021cd44a4a26",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "System Events",
        "style": {
            "label": true
        },
        "nodes": [
            "f2ac1349378e6d26",
            "88601802c7950f46",
            "64550112e7be6e63",
            "7e6d5da797e7e7cc"
        ],
        "x": 34,
        "y": 99,
        "w": 302,
        "h": 162
    },
    {
        "id": "7aebe6d8702bab10",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "dc2305b719c93f1f",
            "a7eca15323078091",
            "578e8329cb819c17"
        ],
        "x": 354,
        "y": 139,
        "w": 362,
        "h": 82
    },
    {
        "id": "2048797bcf266b67",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Game State",
        "style": {
            "label": true
        },
        "nodes": [
            "3353689de6c945bd",
            "455ace91afcb98b9",
            "dde4727e2c141e42",
            "97fc70b1e203d704",
            "63be3a2d66e26581",
            "d12fd2f1d6bee3b6",
            "de7cb91409ed81a9",
            "097f29ad085f7a22"
        ],
        "x": 34,
        "y": 299,
        "w": 672,
        "h": 182
    },
    {
        "id": "ce9d1683a2816b65",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Timer",
        "style": {
            "label": true
        },
        "nodes": [
            "35af47626ff1a0bc",
            "5737119f2b8a0475",
            "0e827f57c631f25e",
            "2942919cf621c189",
            "35ed8d46ef56653b",
            "e6f5e6154f8b2596"
        ],
        "x": 34,
        "y": 499,
        "w": 822,
        "h": 242
    },
    {
        "id": "a3ee951aeba4f23e",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Dashboad Config",
        "style": {
            "label": true
        },
        "nodes": [
            "a8138454fe72ac47"
        ],
        "x": 734,
        "y": 139,
        "w": 252,
        "h": 82
    },
    {
        "id": "14ce41a7b4bd3d71",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Wheels",
        "style": {
            "label": true
        },
        "nodes": [
            "2351cd83918b7657",
            "40998cb0f047b133",
            "83772fc2d44c5c17",
            "99ca280c4ad3708a",
            "5cd43f7b3ccf1883",
            "2f273317d72b132c",
            "79587439fd6adbd4",
            "f117131d443d4cb7",
            "486306046a36d202",
            "4fd182d966705cf6",
            "1a86a580b45599a3",
            "48768664f667f1d0",
            "8688a68b765101d1",
            "7ddb527542fb0d18"
        ],
        "x": 34,
        "y": 759,
        "w": 552,
        "h": 322
    },
    {
        "id": "b8b13fa662e7c4b4",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Fuel",
        "style": {
            "label": true
        },
        "nodes": [
            "32872200d77a1394",
            "bb288da86b2533ac",
            "09bae5ff493b406c",
            "1db58347dbb2c85b",
            "8b1c6aeb899b3454",
            "fdc6d792c2c580aa",
            "9df0131c13ddbb49",
            "eb61197c6c3eada6",
            "6d677d50cb98238d",
            "8f42fdd0dd6a9ac2",
            "d4fc7d23d584ae9a",
            "e70bb4923c98c022",
            "b8c964b92d0a63ad",
            "dbc2225d81cbd7e7",
            "be85497319e7a52c"
        ],
        "x": 34,
        "y": 1099,
        "w": 552,
        "h": 322
    },
    {
        "id": "301f01f2c9d221c7",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Star",
        "style": {
            "label": true
        },
        "nodes": [
            "b10cbd40f050f268",
            "c1b4c19dda7ddd01",
            "7a416e3b285ed18a",
            "4c41672b1b867312",
            "9fab808d768d750f",
            "1cacc08602eb3c76",
            "0ff0dbe26c841da2",
            "1e7d5971a1a1e796",
            "4c88cb96995405b5",
            "0306f5ad7fbb515c",
            "bf0d9af08ce4c613",
            "96d430f881cc4afc",
            "c3f1b199acf14fe6",
            "01522d30a1d1820c",
            "7095c0fc8bd96529"
        ],
        "x": 614,
        "y": 759,
        "w": 552,
        "h": 322
    },
    {
        "id": "e7104f21488a1c4b",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "MQTT",
        "style": {
            "label": true
        },
        "nodes": [
            "70a4500c4d7a7e08",
            "702e1b165e8f3384",
            "8c309f030cb2db6f",
            "dc412d1d0e2feee7",
            "b6ad68d712a8f0e3",
            "1d42a9f13ed38e86"
        ],
        "x": 614,
        "y": 1099,
        "w": 272,
        "h": 222
    },
    {
        "id": "889cb7e7c4956f3b",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Compartments",
        "style": {
            "label": true
        },
        "nodes": [
            "917fa1782754ba39",
            "9f2263afc9b61d09",
            "e876f018df96f09f",
            "4173c2a6930b6ad7"
        ],
        "x": 734,
        "y": 279,
        "w": 302,
        "h": 202
    },
    {
        "id": "2d1bbb4f03e67098",
        "type": "group",
        "z": "0979b50bccfb395b",
        "name": "Firebase",
        "style": {
            "label": true,
            "stroke": "#ffC000"
        },
        "nodes": [
            "f1a977abedc5dfe8",
            "1348fe50aebd7955",
            "45be5b8d54ccd833",
            "4c09b19f8aa9c5fd"
        ],
        "x": 904,
        "y": 1099,
        "w": 262,
        "h": 142
    },
    {
        "id": "dde4727e2c141e42",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "2048797bcf266b67",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "elapsedTimeDelta",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "timeRemaining",
                "pt": "global",
                "to": "gameDuration",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "startTime",
                "pt": "flow",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "timeElapsed",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fuelState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "d12fd2f1d6bee3b6"
            ]
        ]
    },
    {
        "id": "dc2305b719c93f1f",
        "type": "function",
        "z": "0979b50bccfb395b",
        "g": "7aebe6d8702bab10",
        "name": "Initialise Global Vars",
        "func": "global.set(\"gameState\", \"stopped\");\nglobal.set(\"gameDuration\", 3600000 / 4);\nglobal.set(\"elapsedTimeDelta\", 0);\nglobal.set(\"timeRemaining\", 3600000);\nglobal.set(\"wheelState\", \"UNSOLVED\");\nglobal.set(\"fuelState\", \"UNSOLVED\");\nglobal.set(\"starState\", \"UNSOLVED\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "578e8329cb819c17"
            ]
        ]
    },
    {
        "id": "a7eca15323078091",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "7aebe6d8702bab10",
        "name": "Initialise Variables",
        "links": [
            "88601802c7950f46"
        ],
        "x": 395,
        "y": 180,
        "wires": [
            [
                "dc2305b719c93f1f"
            ]
        ]
    },
    {
        "id": "97fc70b1e203d704",
        "type": "comment",
        "z": "0979b50bccfb395b",
        "g": "2048797bcf266b67",
        "name": "On Game Start",
        "info": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "63be3a2d66e26581",
        "type": "comment",
        "z": "0979b50bccfb395b",
        "g": "2048797bcf266b67",
        "name": "On Game Stop",
        "info": "",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "d12fd2f1d6bee3b6",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "2048797bcf266b67",
        "name": "On Game Reset",
        "mode": "link",
        "links": [
            "2351cd83918b7657",
            "5737119f2b8a0475",
            "32872200d77a1394",
            "b10cbd40f050f268"
        ],
        "x": 495,
        "y": 420,
        "wires": []
    },
    {
        "id": "c7ec722a7c504faa",
        "type": "comment",
        "z": "0979b50bccfb395b",
        "name": "Main Flow",
        "info": "This flow contains nodes that define the overall configuration and monitor state of the system.\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "f2ac1349378e6d26",
        "type": "inject",
        "z": "0979b50bccfb395b",
        "g": "6b82021cd44a4a26",
        "name": "On Initialisation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Initialise",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "88601802c7950f46"
            ]
        ]
    },
    {
        "id": "88601802c7950f46",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "6b82021cd44a4a26",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "a7eca15323078091",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6"
        ],
        "x": 295,
        "y": 140,
        "wires": []
    },
    {
        "id": "7e6d5da797e7e7cc",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "6b82021cd44a4a26",
        "name": "On Browser Refresh",
        "links": [
            "91bbad40.53273"
        ],
        "x": 295,
        "y": 220,
        "wires": []
    },
    {
        "id": "578e8329cb819c17",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "7aebe6d8702bab10",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6",
            "5737119f2b8a0475",
            "fde61d47216f1287",
            "2351cd83918b7657",
            "32872200d77a1394",
            "b10cbd40f050f268"
        ],
        "x": 675,
        "y": 180,
        "wires": []
    },
    {
        "id": "de7cb91409ed81a9",
        "type": "comment",
        "z": "0979b50bccfb395b",
        "g": "2048797bcf266b67",
        "name": "On Game Reset",
        "info": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "5737119f2b8a0475",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "ce9d1683a2816b65",
        "name": "Update Timer",
        "links": [
            "578e8329cb819c17",
            "d12fd2f1d6bee3b6",
            "1d42a9f13ed38e86"
        ],
        "x": 85,
        "y": 540,
        "wires": [
            [
                "35af47626ff1a0bc"
            ]
        ]
    },
    {
        "id": "35ed8d46ef56653b",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "ce9d1683a2816b65",
        "name": "On Time Adjust",
        "mode": "link",
        "links": [
            "8c309f030cb2db6f"
        ],
        "x": 235,
        "y": 680,
        "wires": []
    },
    {
        "id": "e6f5e6154f8b2596",
        "type": "comment",
        "z": "0979b50bccfb395b",
        "g": "ce9d1683a2816b65",
        "name": "Adjustments to game duration or time taken",
        "info": "",
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "2351cd83918b7657",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "wheelLinkIn",
        "links": [
            "578e8329cb819c17",
            "8688a68b765101d1",
            "99ca280c4ad3708a",
            "d12fd2f1d6bee3b6"
        ],
        "x": 75,
        "y": 840,
        "wires": [
            [
                "486306046a36d202"
            ]
        ]
    },
    {
        "id": "40998cb0f047b133",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 960,
        "wires": [
            [
                "99ca280c4ad3708a"
            ]
        ]
    },
    {
        "id": "99ca280c4ad3708a",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "wheelLinkOut",
        "mode": "link",
        "links": [
            "2351cd83918b7657"
        ],
        "x": 545,
        "y": 960,
        "wires": []
    },
    {
        "id": "f117131d443d4cb7",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "99ca280c4ad3708a"
            ]
        ]
    },
    {
        "id": "486306046a36d202",
        "type": "function",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "global to msg",
        "func": "msg.wheelState = global.get(\"wheelState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 840,
        "wires": [
            [
                "5cd43f7b3ccf1883"
            ]
        ]
    },
    {
        "id": "4fd182d966705cf6",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 920,
        "wires": [
            [
                "99ca280c4ad3708a"
            ]
        ]
    },
    {
        "id": "32872200d77a1394",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "FuelLinkIn",
        "links": [
            "578e8329cb819c17",
            "8b1c6aeb899b3454",
            "be85497319e7a52c",
            "d12fd2f1d6bee3b6"
        ],
        "x": 75,
        "y": 1180,
        "wires": [
            [
                "8f42fdd0dd6a9ac2"
            ]
        ]
    },
    {
        "id": "09bae5ff493b406c",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fuelState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fuelState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1300,
        "wires": [
            [
                "8b1c6aeb899b3454"
            ]
        ]
    },
    {
        "id": "8b1c6aeb899b3454",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "fuelLinkOut",
        "mode": "link",
        "links": [
            "32872200d77a1394"
        ],
        "x": 545,
        "y": 1300,
        "wires": []
    },
    {
        "id": "6d677d50cb98238d",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fuelState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fuelState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1340,
        "wires": [
            [
                "8b1c6aeb899b3454"
            ]
        ]
    },
    {
        "id": "8f42fdd0dd6a9ac2",
        "type": "function",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "global to msg",
        "func": "msg.fuelState = global.get(\"fuelState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1180,
        "wires": [
            [
                "fdc6d792c2c580aa"
            ]
        ]
    },
    {
        "id": "d4fc7d23d584ae9a",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fuelState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fuelState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "8b1c6aeb899b3454"
            ]
        ]
    },
    {
        "id": "b10cbd40f050f268",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "StartLinkIn",
        "links": [
            "578e8329cb819c17",
            "4c41672b1b867312",
            "01522d30a1d1820c",
            "d12fd2f1d6bee3b6"
        ],
        "x": 655,
        "y": 840,
        "wires": [
            [
                "4c88cb96995405b5"
            ]
        ]
    },
    {
        "id": "c1b4c19dda7ddd01",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 960,
        "wires": [
            [
                "4c41672b1b867312"
            ]
        ]
    },
    {
        "id": "4c41672b1b867312",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "StarLinkOut",
        "mode": "link",
        "links": [
            "b10cbd40f050f268"
        ],
        "x": 1125,
        "y": 960,
        "wires": []
    },
    {
        "id": "1e7d5971a1a1e796",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1000,
        "wires": [
            [
                "4c41672b1b867312"
            ]
        ]
    },
    {
        "id": "4c88cb96995405b5",
        "type": "function",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "global to msg",
        "func": "msg.starState = global.get(\"starState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 840,
        "wires": [
            [
                "9fab808d768d750f"
            ]
        ]
    },
    {
        "id": "0306f5ad7fbb515c",
        "type": "change",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 920,
        "wires": [
            [
                "4c41672b1b867312"
            ]
        ]
    },
    {
        "id": "3353689de6c945bd",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "2048797bcf266b67",
        "name": "",
        "group": "2167d545401575ce",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-play",
        "payload": "start_game",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "097f29ad085f7a22"
            ]
        ]
    },
    {
        "id": "455ace91afcb98b9",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "2048797bcf266b67",
        "name": "",
        "group": "2167d545401575ce",
        "order": 21,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "fa-fast-backward",
        "payload": "global_reset",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "dde4727e2c141e42",
                "097f29ad085f7a22"
            ]
        ]
    },
    {
        "id": "0e827f57c631f25e",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "ce9d1683a2816b65",
        "name": "",
        "group": "2167d545401575ce",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "+min",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "fa-plus",
        "payload": "add_min",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "35ed8d46ef56653b"
            ]
        ]
    },
    {
        "id": "2942919cf621c189",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "ce9d1683a2816b65",
        "name": "",
        "group": "2167d545401575ce",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "-min",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "fa-minus",
        "payload": "sub_min",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "35ed8d46ef56653b"
            ]
        ]
    },
    {
        "id": "83772fc2d44c5c17",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "",
        "group": "2167d545401575ce",
        "order": 27,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "wheels hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wheels_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "40998cb0f047b133",
                "1a86a580b45599a3"
            ]
        ]
    },
    {
        "id": "79587439fd6adbd4",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "",
        "group": "2167d545401575ce",
        "order": 30,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "wheels solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wheels_solved",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "f117131d443d4cb7",
                "1a86a580b45599a3"
            ]
        ]
    },
    {
        "id": "bb288da86b2533ac",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "",
        "group": "2167d545401575ce",
        "order": 28,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "fuel reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "fuel_reset",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "d4fc7d23d584ae9a",
                "e70bb4923c98c022"
            ]
        ]
    },
    {
        "id": "1db58347dbb2c85b",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "",
        "group": "2167d545401575ce",
        "order": 31,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "fuel hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "fuel_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 120,
        "y": 1300,
        "wires": [
            [
                "09bae5ff493b406c",
                "e70bb4923c98c022"
            ]
        ]
    },
    {
        "id": "eb61197c6c3eada6",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "",
        "group": "2167d545401575ce",
        "order": 34,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "fuel solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "fuel_solved",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "6d677d50cb98238d",
                "e70bb4923c98c022"
            ]
        ]
    },
    {
        "id": "7a416e3b285ed18a",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "",
        "group": "2167d545401575ce",
        "order": 29,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "star hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "star_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 700,
        "y": 960,
        "wires": [
            [
                "c1b4c19dda7ddd01",
                "bf0d9af08ce4c613",
                "7095c0fc8bd96529"
            ]
        ]
    },
    {
        "id": "0ff0dbe26c841da2",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "",
        "group": "2167d545401575ce",
        "order": 32,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "star solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "star_solved",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 700,
        "y": 1000,
        "wires": [
            [
                "1e7d5971a1a1e796",
                "bf0d9af08ce4c613"
            ]
        ]
    },
    {
        "id": "5cd43f7b3ccf1883",
        "type": "ui_text",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "group": "2167d545401575ce",
        "order": 33,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.wheelState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 840,
        "wires": []
    },
    {
        "id": "2f273317d72b132c",
        "type": "ui_text",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "group": "2167d545401575ce",
        "order": 24,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Spinning Wheels",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 800,
        "wires": []
    },
    {
        "id": "fdc6d792c2c580aa",
        "type": "ui_text",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "group": "2167d545401575ce",
        "order": 37,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.fuelState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9df0131c13ddbb49",
        "type": "ui_text",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "group": "2167d545401575ce",
        "order": 25,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Transferring Fuel",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9fab808d768d750f",
        "type": "ui_text",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "group": "2167d545401575ce",
        "order": 35,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.starState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 840,
        "wires": []
    },
    {
        "id": "1cacc08602eb3c76",
        "type": "ui_text",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "group": "2167d545401575ce",
        "order": 26,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Starry Night",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 800,
        "wires": []
    },
    {
        "id": "64550112e7be6e63",
        "type": "ui_ui_control",
        "z": "0979b50bccfb395b",
        "g": "6b82021cd44a4a26",
        "name": "On Browser Refresh",
        "events": "all",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "7e6d5da797e7e7cc"
            ]
        ]
    },
    {
        "id": "a8138454fe72ac47",
        "type": "ui_template",
        "z": "0979b50bccfb395b",
        "g": "a3ee951aeba4f23e",
        "group": "2167d545401575ce",
        "name": "CSS-style overrides",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /* Don't let title expand */\n    md-card md-card-title {\n        flex: 0 0 auto !important;\n    }\n\n    /* Don't show scrollbars */\n    .nr-dashboard-template {\n        overflow-y: hidden !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 860,
        "y": 180,
        "wires": [
            []
        ],
        "info": "CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"
    },
    {
        "id": "35af47626ff1a0bc",
        "type": "ui_template",
        "z": "0979b50bccfb395b",
        "g": "ce9d1683a2816b65",
        "group": "2167d545401575ce",
        "name": "Time Remaining",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Time Remaining</p>\n    </md-card-title-text>\n    <span ng-class=\"'fa fa-clock-o fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div style=\"text-align:center\">\n        <span class=\"value\" style=\"color:{{msg.timeColour}}; font-size:3em;\">\n            {{msg.payload}}\n        </span>\n    </div>\n</md-card-content>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "70a4500c4d7a7e08",
        "type": "mqtt in",
        "z": "0979b50bccfb395b",
        "g": "e7104f21488a1c4b",
        "name": "",
        "topic": "esp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9a7a68b2be818d4e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 1220,
        "wires": [
            [
                "dc412d1d0e2feee7"
            ]
        ]
    },
    {
        "id": "702e1b165e8f3384",
        "type": "mqtt out",
        "z": "0979b50bccfb395b",
        "g": "e7104f21488a1c4b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9a7a68b2be818d4e",
        "x": 810,
        "y": 1140,
        "wires": []
    },
    {
        "id": "1a86a580b45599a3",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "wheelMQTTLinkOut",
        "mode": "link",
        "links": [
            "8c309f030cb2db6f"
        ],
        "x": 255,
        "y": 900,
        "wires": []
    },
    {
        "id": "8c309f030cb2db6f",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "e7104f21488a1c4b",
        "name": "MQTTOutLinkIn",
        "links": [
            "097f29ad085f7a22",
            "1a86a580b45599a3",
            "35ed8d46ef56653b",
            "4173c2a6930b6ad7",
            "bf0d9af08ce4c613",
            "e70bb4923c98c022"
        ],
        "x": 665,
        "y": 1140,
        "wires": [
            [
                "702e1b165e8f3384"
            ]
        ]
    },
    {
        "id": "e70bb4923c98c022",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "FuelMQTTLinkOut",
        "mode": "link",
        "links": [
            "8c309f030cb2db6f"
        ],
        "x": 255,
        "y": 1240,
        "wires": []
    },
    {
        "id": "bf0d9af08ce4c613",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "StarMQTTLinkOut",
        "mode": "link",
        "links": [
            "8c309f030cb2db6f"
        ],
        "x": 815,
        "y": 880,
        "wires": []
    },
    {
        "id": "dc412d1d0e2feee7",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "e7104f21488a1c4b",
        "name": "MQTTInLinkOut",
        "mode": "link",
        "links": [
            "96d430f881cc4afc",
            "b8c964b92d0a63ad",
            "48768664f667f1d0",
            "4c09b19f8aa9c5fd"
        ],
        "x": 825,
        "y": 1220,
        "wires": []
    },
    {
        "id": "48768664f667f1d0",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "wheelMQTTLinkIn",
        "links": [
            "dc412d1d0e2feee7"
        ],
        "x": 75,
        "y": 1040,
        "wires": [
            [
                "7ddb527542fb0d18"
            ]
        ]
    },
    {
        "id": "b8c964b92d0a63ad",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "FuelMQTTLinkIn",
        "links": [
            "dc412d1d0e2feee7"
        ],
        "x": 75,
        "y": 1380,
        "wires": [
            [
                "dbc2225d81cbd7e7"
            ]
        ]
    },
    {
        "id": "96d430f881cc4afc",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "StarMQTTLinkIn",
        "links": [
            "dc412d1d0e2feee7"
        ],
        "x": 655,
        "y": 1040,
        "wires": [
            [
                "c3f1b199acf14fe6"
            ]
        ]
    },
    {
        "id": "dbc2225d81cbd7e7",
        "type": "function",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "process mqtt",
        "func": "if (global.get(\"fuelState\") != \"SOLVED\") {\n    if (msg.payload == \"fuel_hint\") {\n        msg.fuelState = \"HINT_GIVEN\";\n        global.set(\"fuelState\", \"HINT_GIVEN\");\n    } else if (msg.payload == \"fuel_solved\") {\n        msg.fuelState = \"SOLVED\";\n        global.set(\"fuelState\", \"SOLVED\");\n    }\n}\n\nif (msg.payload == \"global_reset\") {\n    msg.fuelState = \"UNSOLVED\";\n    global.set(\"fuelState\", \"UNSOLVED\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1380,
        "wires": [
            [
                "be85497319e7a52c"
            ]
        ]
    },
    {
        "id": "be85497319e7a52c",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "b8b13fa662e7c4b4",
        "name": "fuelProcessMQTT",
        "mode": "link",
        "links": [
            "32872200d77a1394"
        ],
        "x": 365,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8688a68b765101d1",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "WheelsProcessMQTT",
        "mode": "link",
        "links": [
            "2351cd83918b7657"
        ],
        "x": 355,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7ddb527542fb0d18",
        "type": "function",
        "z": "0979b50bccfb395b",
        "g": "14ce41a7b4bd3d71",
        "name": "process mqtt",
        "func": "if (global.get(\"wheelState\") != \"SOLVED\") {\n    if (msg.payload == \"wheels_hint\") {\n        msg.wheelState = \"HINT_GIVEN\";\n        global.set(\"wheelState\", \"HINT_GIVEN\");\n    } else if (msg.payload == \"wheels_solved\") {\n        msg.wheelState = \"SOLVED\";\n        global.set(\"wheelState\", \"SOLVED\");\n    }\n}\n\nif (msg.payload == \"global_reset\") {\n    msg.wheelState = \"UNSOLVED\";\n    global.set(\"wheelState\", \"UNSOLVED\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "8688a68b765101d1"
            ]
        ]
    },
    {
        "id": "c3f1b199acf14fe6",
        "type": "function",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "process mqtt",
        "func": "if (global.get(\"starState\") != \"SOLVED\") {\n    if (msg.payload == \"star_hint\") {\n        msg.starState = \"HINT_GIVEN\";\n        global.set(\"starState\", \"HINT_GIVEN\");\n    } else if (msg.payload == \"star_solved\") {\n        msg.starState = \"SOLVED\";\n        global.set(\"starState\", \"SOLVED\");\n    }\n}\n\nif (msg.payload == \"global_reset\") {\n    msg.starState = \"UNSOLVED\";\n    global.set(\"starState\", \"UNSOLVED\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "01522d30a1d1820c"
            ]
        ]
    },
    {
        "id": "01522d30a1d1820c",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "StarProcessMQTT",
        "mode": "link",
        "links": [
            "b10cbd40f050f268"
        ],
        "x": 995,
        "y": 1040,
        "wires": []
    },
    {
        "id": "097f29ad085f7a22",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "2048797bcf266b67",
        "name": "global reset out",
        "mode": "link",
        "links": [
            "8c309f030cb2db6f",
            "4c09b19f8aa9c5fd"
        ],
        "x": 205,
        "y": 440,
        "wires": []
    },
    {
        "id": "b6ad68d712a8f0e3",
        "type": "mqtt in",
        "z": "0979b50bccfb395b",
        "g": "e7104f21488a1c4b",
        "name": "",
        "topic": "esp_timer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9a7a68b2be818d4e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 700,
        "y": 1280,
        "wires": [
            [
                "1d42a9f13ed38e86"
            ]
        ]
    },
    {
        "id": "1d42a9f13ed38e86",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "e7104f21488a1c4b",
        "name": "timerLinkOut",
        "mode": "link",
        "links": [
            "5737119f2b8a0475"
        ],
        "x": 825,
        "y": 1280,
        "wires": []
    },
    {
        "id": "917fa1782754ba39",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "889cb7e7c4956f3b",
        "name": "",
        "group": "2167d545401575ce",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "compartment 1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "comp_1_open",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "4173c2a6930b6ad7"
            ]
        ]
    },
    {
        "id": "9f2263afc9b61d09",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "889cb7e7c4956f3b",
        "name": "",
        "group": "2167d545401575ce",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "compartment 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "comp_2_open",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "4173c2a6930b6ad7"
            ]
        ]
    },
    {
        "id": "e876f018df96f09f",
        "type": "ui_button",
        "z": "0979b50bccfb395b",
        "g": "889cb7e7c4956f3b",
        "name": "",
        "group": "2167d545401575ce",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "compartment 3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "comp_3_open",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 840,
        "y": 440,
        "wires": [
            [
                "4173c2a6930b6ad7"
            ]
        ]
    },
    {
        "id": "4173c2a6930b6ad7",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "889cb7e7c4956f3b",
        "name": "compartments_link_out",
        "mode": "link",
        "links": [
            "8c309f030cb2db6f"
        ],
        "x": 995,
        "y": 380,
        "wires": []
    },
    {
        "id": "f1a977abedc5dfe8",
        "type": "firebase-out",
        "z": "0979b50bccfb395b",
        "g": "2d1bbb4f03e67098",
        "name": "Star Hint",
        "database": "fe788a51d2c2f578",
        "path": "topic",
        "pathType": "msg",
        "priority": "1",
        "queryType": "push",
        "x": 1080,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7095c0fc8bd96529",
        "type": "link out",
        "z": "0979b50bccfb395b",
        "g": "301f01f2c9d221c7",
        "name": "fireBaseHint",
        "mode": "link",
        "links": [
            "1348fe50aebd7955"
        ],
        "x": 815,
        "y": 920,
        "wires": []
    },
    {
        "id": "1348fe50aebd7955",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "2d1bbb4f03e67098",
        "name": "FirebaseData",
        "links": [
            "7095c0fc8bd96529"
        ],
        "x": 945,
        "y": 1140,
        "wires": [
            [
                "f1a977abedc5dfe8"
            ]
        ]
    },
    {
        "id": "45be5b8d54ccd833",
        "type": "firebase-out",
        "z": "0979b50bccfb395b",
        "g": "2d1bbb4f03e67098",
        "name": "",
        "database": "fe788a51d2c2f578",
        "path": "topic",
        "pathType": "msg",
        "priority": "1",
        "queryType": "remove",
        "x": 1080,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4c09b19f8aa9c5fd",
        "type": "link in",
        "z": "0979b50bccfb395b",
        "g": "2d1bbb4f03e67098",
        "name": "FirebaseData",
        "links": [
            "097f29ad085f7a22",
            "dc412d1d0e2feee7"
        ],
        "x": 945,
        "y": 1200,
        "wires": [
            [
                "45be5b8d54ccd833"
            ]
        ]
    },
    {
        "id": "cf461a955a5241a6",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "83de8b909f8d00ce",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "42890f9a5cab26d2",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "d3ee6695340ad804",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "c01219c0d947f4ea",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "c6d9f42931c8c0c9",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "5f4c120d82d9226f",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "3a232fd1f661cae1",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "cead073d13bc6263",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "c801ef0fc4e8133f",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "5bca68fd141f47f0",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "b85aa1185d79f9ab",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 20,
        "width": 8,
        "height": 1
    },
    {
        "id": "1305f560f2434dfe",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 22,
        "width": 8,
        "height": 1
    },
    {
        "id": "eae598f352b4048b",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 23,
        "width": 18,
        "height": 1
    },
    {
        "id": "3bde0e941cee6035",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 36,
        "width": 6,
        "height": 1
    },
    {
        "id": "af53544f00dfc33c",
        "type": "ui_spacer",
        "z": "0979b50bccfb395b",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 38,
        "width": 6,
        "height": 1
    },
    {
        "id": "2167d545401575ce",
        "type": "ui_group",
        "name": "Game Control",
        "tab": "ff24fa37c64a35b4",
        "order": 1,
        "disp": false,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a7a68b2be818d4e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fe788a51d2c2f578",
        "type": "firebase-config",
        "name": "Realtime_db",
        "authType": "anonymous",
        "claims": {},
        "createUser": false,
        "useClaims": false
    },
    {
        "id": "ff24fa37c64a35b4",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    }
]