flows.json
[
    {
        "id": "a4f96bc176866912",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "172078d66a2c4e78",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "System Events",
        "style": {
            "label": true
        },
        "nodes": [
            "8fe0e90b6924816e",
            "06c7ec578b1cf036",
            "5c28489755adc1f6",
            "a6d6d78da65378c3"
        ],
        "x": 34,
        "y": 99,
        "w": 302,
        "h": 162
    },
    {
        "id": "5df8587ac98e0dd7",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "03d26c581a2dfafb",
            "03bf85b03a6a40b2",
            "0110abe8fcf440b0"
        ],
        "x": 354,
        "y": 139,
        "w": 362,
        "h": 82
    },
    {
        "id": "709938a60746276d",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "Game State",
        "style": {
            "label": true
        },
        "nodes": [
            "e1be5886eab75a4d",
            "ba86a915800410df",
            "dbe15cc57434b96b",
            "e8256d94d4d7c2a5",
            "2fd748b2920b53df",
            "78a6591e8ab9b6f6",
            "f6677dfec1ad2f6c",
            "ee3f1938256d57f7",
            "8f6dd739c52c4dca"
        ],
        "x": 34,
        "y": 319,
        "w": 672,
        "h": 162
    },
    {
        "id": "373e5d6fa4df46e7",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "Timer",
        "style": {
            "label": true
        },
        "nodes": [
            "413294152d090171",
            "7641d954812b5542",
            "ace065b66a54925d",
            "065a1ec9f52b9a76",
            "8c4ab2ffa7bc1ad1",
            "09418cdbe0a12063"
        ],
        "x": 34,
        "y": 499,
        "w": 592,
        "h": 242
    },
    {
        "id": "9a4c6b0636096d4d",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "Dashboad Config",
        "style": {
            "label": true
        },
        "nodes": [
            "8a8a7356bc94801d"
        ],
        "x": 734,
        "y": 139,
        "w": 252,
        "h": 82
    },
    {
        "id": "9c7d78ee02176f63",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "Wheels",
        "style": {
            "label": true
        },
        "nodes": [
            "5527ea2c99f12d24",
            "ae7f2b8ae824c002",
            "fa23e9dee32500c2",
            "f12ffecf0eaf50cb",
            "4db941ee1aba2765",
            "11e8d2da658a8941",
            "5c07ddbd5248f011",
            "fa0c9c5f388232c6",
            "b06ced4fbf8dcec5",
            "d79f8c8b214659b0",
            "3894701d05261ef0",
            "9a295779bec58739",
            "330b4585e0723247",
            "b7c0eac3c9c89276"
        ],
        "x": 34,
        "y": 759,
        "w": 552,
        "h": 322
    },
    {
        "id": "c4d92acdbd42331d",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "Water",
        "style": {
            "label": true
        },
        "nodes": [
            "ecc6854442331ff4",
            "5c9d501f80526247",
            "81c4994593c4c0a2",
            "dedaa731d43b35b8",
            "3d6f5aafdde4e986",
            "f7826c8b96ab9437",
            "989ea3ee3313ec96",
            "29ba1b84330e102d",
            "715cc502281d8f8e",
            "9b1d41f347b33558",
            "b08fc6de6d3b5492",
            "ebd0e8a801dde883",
            "42fb4f57bcac47b0",
            "34c4745ff1db18eb",
            "7155ab9a57e47f29"
        ],
        "x": 34,
        "y": 1099,
        "w": 552,
        "h": 322
    },
    {
        "id": "85515f983c53c469",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "Star",
        "style": {
            "label": true
        },
        "nodes": [
            "eee16df81cdf277c",
            "fd4790f6d958c2a7",
            "7bad9e48eb465231",
            "68c986b914fad037",
            "408b99495ebdb4bf",
            "e7214e7700c806ed",
            "c320ac06a039756a",
            "0dede407451f225f",
            "a1c5c7a56f635318",
            "3900acf2ed9da5e4",
            "f325cffcbaacc321",
            "2c979a659acc3d47",
            "72f18acaaecfef17",
            "c937ababb5fe3b98"
        ],
        "x": 614,
        "y": 759,
        "w": 552,
        "h": 322
    },
    {
        "id": "0ca6e3c9ce04f838",
        "type": "group",
        "z": "a4f96bc176866912",
        "name": "MQTT",
        "style": {
            "label": true
        },
        "nodes": [
            "1c34a454ddaaedb0",
            "15b2f818acc74019",
            "569930163fa719a6",
            "f9fd1e69515fa501",
            "ce289c119366c49a",
            "bfffa509f87ac0a2"
        ],
        "x": 614,
        "y": 1099,
        "w": 272,
        "h": 242
    },
    {
        "id": "dbe15cc57434b96b",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "WHEELS",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "8f6dd739c52c4dca"
            ]
        ]
    },
    {
        "id": "e8256d94d4d7c2a5",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waterState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "gameState",
                "pt": "global",
                "to": "READY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 420,
        "wires": [
            [
                "78a6591e8ab9b6f6"
            ]
        ]
    },
    {
        "id": "03d26c581a2dfafb",
        "type": "function",
        "z": "a4f96bc176866912",
        "g": "5df8587ac98e0dd7",
        "name": "Initialise Global Vars",
        "func": "global.set(\"gameState\", \"READY\");\nglobal.set(\"wheelState\", \"UNSOLVED\");\nglobal.set(\"waterState\", \"UNSOLVED\");\nglobal.set(\"starState\", \"UNSOLVED\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "0110abe8fcf440b0"
            ]
        ]
    },
    {
        "id": "03bf85b03a6a40b2",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "5df8587ac98e0dd7",
        "name": "Initialise Variables",
        "links": [
            "06c7ec578b1cf036"
        ],
        "x": 395,
        "y": 180,
        "wires": [
            [
                "03d26c581a2dfafb"
            ]
        ]
    },
    {
        "id": "2fd748b2920b53df",
        "type": "comment",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "On Game Start",
        "info": "",
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "78a6591e8ab9b6f6",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "On Game Reset",
        "mode": "link",
        "links": [
            "5527ea2c99f12d24",
            "ecc6854442331ff4",
            "eee16df81cdf277c"
        ],
        "x": 495,
        "y": 420,
        "wires": []
    },
    {
        "id": "a97ede58b2fc85d2",
        "type": "comment",
        "z": "a4f96bc176866912",
        "name": "Main Flow",
        "info": "This flow contains nodes that define the overall configuration and monitor state of the system.\n",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "8fe0e90b6924816e",
        "type": "inject",
        "z": "a4f96bc176866912",
        "g": "172078d66a2c4e78",
        "name": "On Initialisation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "Initialise",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "06c7ec578b1cf036"
            ]
        ]
    },
    {
        "id": "06c7ec578b1cf036",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "172078d66a2c4e78",
        "name": "On System Start",
        "links": [
            "ce5e1241.adb708",
            "891fa554.e2eb",
            "03bf85b03a6a40b2",
            "a42117f2.e7b908",
            "b382fdf1.42dfd",
            "753e49af.e1fbf8",
            "ab728aab.10a15",
            "7a212126.b73c78",
            "bca49e2.3ae506",
            "fec95a4b.bb6bf",
            "84bae66b.0b1488",
            "91f5a57b8686c80a",
            "46aaa4960e9ac869",
            "e4bbd5899d3b356e",
            "f64afdb2.ae6738",
            "7fd4506cfed2714b",
            "c4a8de8b032253c9",
            "d22e738b256cdec6"
        ],
        "x": 295,
        "y": 140,
        "wires": []
    },
    {
        "id": "a6d6d78da65378c3",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "172078d66a2c4e78",
        "name": "On Browser Refresh",
        "links": [
            "91bbad40.53273"
        ],
        "x": 295,
        "y": 220,
        "wires": []
    },
    {
        "id": "0110abe8fcf440b0",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "5df8587ac98e0dd7",
        "name": "On System Start",
        "mode": "link",
        "links": [
            "5527ea2c99f12d24",
            "ecc6854442331ff4",
            "eee16df81cdf277c"
        ],
        "x": 675,
        "y": 180,
        "wires": []
    },
    {
        "id": "f6677dfec1ad2f6c",
        "type": "comment",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "On Game Reset",
        "info": "",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "7641d954812b5542",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "373e5d6fa4df46e7",
        "name": "Update Timer",
        "links": [
            "bfffa509f87ac0a2"
        ],
        "x": 85,
        "y": 540,
        "wires": [
            [
                "413294152d090171"
            ]
        ]
    },
    {
        "id": "8c4ab2ffa7bc1ad1",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "373e5d6fa4df46e7",
        "name": "On Time Adjust",
        "mode": "link",
        "links": [
            "569930163fa719a6"
        ],
        "x": 215,
        "y": 680,
        "wires": []
    },
    {
        "id": "09418cdbe0a12063",
        "type": "comment",
        "z": "a4f96bc176866912",
        "g": "373e5d6fa4df46e7",
        "name": "Adjustments to game duration or time taken",
        "info": "",
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "5527ea2c99f12d24",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "wheelLinkIn",
        "links": [
            "0110abe8fcf440b0",
            "330b4585e0723247",
            "f12ffecf0eaf50cb",
            "78a6591e8ab9b6f6"
        ],
        "x": 75,
        "y": 840,
        "wires": [
            [
                "b06ced4fbf8dcec5"
            ]
        ]
    },
    {
        "id": "ae7f2b8ae824c002",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 960,
        "wires": [
            [
                "f12ffecf0eaf50cb"
            ]
        ]
    },
    {
        "id": "f12ffecf0eaf50cb",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "wheelLinkOut",
        "mode": "link",
        "links": [
            "5527ea2c99f12d24"
        ],
        "x": 545,
        "y": 960,
        "wires": []
    },
    {
        "id": "fa0c9c5f388232c6",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1000,
        "wires": [
            [
                "f12ffecf0eaf50cb"
            ]
        ]
    },
    {
        "id": "b06ced4fbf8dcec5",
        "type": "function",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "global to msg",
        "func": "msg.wheelState = global.get(\"wheelState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 840,
        "wires": [
            [
                "4db941ee1aba2765"
            ]
        ]
    },
    {
        "id": "d79f8c8b214659b0",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wheelState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "wheelState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 920,
        "wires": [
            [
                "f12ffecf0eaf50cb"
            ]
        ]
    },
    {
        "id": "ecc6854442331ff4",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "WaterLinkIn",
        "links": [
            "0110abe8fcf440b0",
            "3d6f5aafdde4e986",
            "7155ab9a57e47f29",
            "78a6591e8ab9b6f6"
        ],
        "x": 75,
        "y": 1180,
        "wires": [
            [
                "9b1d41f347b33558"
            ]
        ]
    },
    {
        "id": "81c4994593c4c0a2",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "waterState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waterState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1300,
        "wires": [
            [
                "3d6f5aafdde4e986"
            ]
        ]
    },
    {
        "id": "3d6f5aafdde4e986",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "waterLinkOut",
        "mode": "link",
        "links": [
            "ecc6854442331ff4"
        ],
        "x": 545,
        "y": 1300,
        "wires": []
    },
    {
        "id": "715cc502281d8f8e",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "waterState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waterState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1340,
        "wires": [
            [
                "3d6f5aafdde4e986"
            ]
        ]
    },
    {
        "id": "9b1d41f347b33558",
        "type": "function",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "global to msg",
        "func": "msg.waterState = global.get(\"waterState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1180,
        "wires": [
            [
                "f7826c8b96ab9437"
            ]
        ]
    },
    {
        "id": "b08fc6de6d3b5492",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "waterState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "waterState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1260,
        "wires": [
            [
                "3d6f5aafdde4e986"
            ]
        ]
    },
    {
        "id": "eee16df81cdf277c",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "StartLinkIn",
        "links": [
            "0110abe8fcf440b0",
            "68c986b914fad037",
            "c937ababb5fe3b98",
            "78a6591e8ab9b6f6"
        ],
        "x": 655,
        "y": 840,
        "wires": [
            [
                "a1c5c7a56f635318"
            ]
        ]
    },
    {
        "id": "fd4790f6d958c2a7",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "HINT_GIVEN",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "HINT_GIVEN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 960,
        "wires": [
            [
                "68c986b914fad037"
            ]
        ]
    },
    {
        "id": "68c986b914fad037",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "StarLinkOut",
        "mode": "link",
        "links": [
            "eee16df81cdf277c"
        ],
        "x": 1125,
        "y": 960,
        "wires": []
    },
    {
        "id": "0dede407451f225f",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "SOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "SOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1000,
        "wires": [
            [
                "68c986b914fad037"
            ]
        ]
    },
    {
        "id": "a1c5c7a56f635318",
        "type": "function",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "global to msg",
        "func": "msg.starState = global.get(\"starState\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 840,
        "wires": [
            [
                "408b99495ebdb4bf"
            ]
        ]
    },
    {
        "id": "3900acf2ed9da5e4",
        "type": "change",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "starState",
                "pt": "msg",
                "to": "UNSOLVED",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "starState",
                "pt": "global",
                "to": "UNSOLVED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 920,
        "wires": [
            [
                "68c986b914fad037"
            ]
        ]
    },
    {
        "id": "e1be5886eab75a4d",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "",
        "group": "2167d545401575ce",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "fa-play",
        "payload": "start_game",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "dbe15cc57434b96b"
            ]
        ]
    },
    {
        "id": "ba86a915800410df",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "",
        "group": "2167d545401575ce",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "fa-fast-backward",
        "payload": "global_reset",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "e8256d94d4d7c2a5",
                "ee3f1938256d57f7"
            ]
        ]
    },
    {
        "id": "ace065b66a54925d",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "373e5d6fa4df46e7",
        "name": "",
        "group": "2167d545401575ce",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "min",
        "tooltip": "",
        "color": "",
        "bgcolor": "grey",
        "className": "",
        "icon": "fa-plus",
        "payload": "add_min",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "8c4ab2ffa7bc1ad1"
            ]
        ]
    },
    {
        "id": "065a1ec9f52b9a76",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "373e5d6fa4df46e7",
        "name": "",
        "group": "2167d545401575ce",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": true,
        "label": "min",
        "tooltip": "",
        "color": "",
        "bgcolor": "gray",
        "className": "",
        "icon": "fa-minus",
        "payload": "sub_min",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "8c4ab2ffa7bc1ad1"
            ]
        ]
    },
    {
        "id": "fa23e9dee32500c2",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "",
        "group": "2167d545401575ce",
        "order": 21,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "wheels hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wheels_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "ae7f2b8ae824c002",
                "3894701d05261ef0"
            ]
        ]
    },
    {
        "id": "5c07ddbd5248f011",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "",
        "group": "2167d545401575ce",
        "order": 24,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "wheels solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wheels_solve",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "fa0c9c5f388232c6",
                "3894701d05261ef0"
            ]
        ]
    },
    {
        "id": "5c9d501f80526247",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "",
        "group": "2167d545401575ce",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "water reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "water_reset",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "b08fc6de6d3b5492",
                "ebd0e8a801dde883"
            ]
        ]
    },
    {
        "id": "dedaa731d43b35b8",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "",
        "group": "2167d545401575ce",
        "order": 25,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "water hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "water_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 120,
        "y": 1300,
        "wires": [
            [
                "81c4994593c4c0a2",
                "ebd0e8a801dde883"
            ]
        ]
    },
    {
        "id": "29ba1b84330e102d",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "",
        "group": "2167d545401575ce",
        "order": 28,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "water solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "water_solve",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "715cc502281d8f8e",
                "ebd0e8a801dde883"
            ]
        ]
    },
    {
        "id": "7bad9e48eb465231",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "",
        "group": "2167d545401575ce",
        "order": 23,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "star hint",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "star_hint",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 700,
        "y": 960,
        "wires": [
            [
                "fd4790f6d958c2a7",
                "f325cffcbaacc321"
            ]
        ]
    },
    {
        "id": "c320ac06a039756a",
        "type": "ui_button",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "",
        "group": "2167d545401575ce",
        "order": 26,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "star solve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "star_solved",
        "payloadType": "str",
        "topic": "admin",
        "topicType": "str",
        "x": 700,
        "y": 1000,
        "wires": [
            [
                "0dede407451f225f",
                "f325cffcbaacc321"
            ]
        ]
    },
    {
        "id": "4db941ee1aba2765",
        "type": "ui_text",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "group": "2167d545401575ce",
        "order": 27,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.wheelState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 840,
        "wires": []
    },
    {
        "id": "11e8d2da658a8941",
        "type": "ui_text",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "group": "2167d545401575ce",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Spinning Wheels",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 800,
        "wires": []
    },
    {
        "id": "f7826c8b96ab9437",
        "type": "ui_text",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "group": "2167d545401575ce",
        "order": 31,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.waterState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 1180,
        "wires": []
    },
    {
        "id": "989ea3ee3313ec96",
        "type": "ui_text",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "group": "2167d545401575ce",
        "order": 19,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Transferring Water",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 110,
        "y": 1140,
        "wires": []
    },
    {
        "id": "408b99495ebdb4bf",
        "type": "ui_text",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "group": "2167d545401575ce",
        "order": 29,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "State: ",
        "format": "{{msg.starState}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 840,
        "wires": []
    },
    {
        "id": "e7214e7700c806ed",
        "type": "ui_text",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "group": "2167d545401575ce",
        "order": 20,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Game:",
        "format": "Starry Night",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 800,
        "wires": []
    },
    {
        "id": "5c28489755adc1f6",
        "type": "ui_ui_control",
        "z": "a4f96bc176866912",
        "g": "172078d66a2c4e78",
        "name": "On Browser Refresh",
        "events": "all",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "a6d6d78da65378c3"
            ]
        ]
    },
    {
        "id": "8a8a7356bc94801d",
        "type": "ui_template",
        "z": "a4f96bc176866912",
        "g": "9a4c6b0636096d4d",
        "group": "2167d545401575ce",
        "name": "CSS-style overrides",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /* Don't let title expand */\n    md-card md-card-title {\n        flex: 0 0 auto !important;\n    }\n\n    /* Don't show scrollbars */\n    .nr-dashboard-template {\n        overflow-y: hidden !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 860,
        "y": 180,
        "wires": [
            []
        ],
        "info": "CSS Style overrides to the Node-RED Dark theme.\n\nFrom the Dashboard node information panel (View->Dashboard), select\n - Site: Options -> Node-RED theme everywhere\n - Theme: Style -> Dark"
    },
    {
        "id": "413294152d090171",
        "type": "ui_template",
        "z": "a4f96bc176866912",
        "g": "373e5d6fa4df46e7",
        "group": "2167d545401575ce",
        "name": "Time Remaining",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<md-card-title>\n    <md-card-title-text>\n        <p class=\"md-headline\">Time Remaining</p>\n    </md-card-title-text>\n    <span ng-class=\"'fa fa-clock-o fa-2x'\"></span>\n</md-card-title>\n<md-card-content>\n    <div style=\"text-align:center\">\n        <span class=\"value\"; font-size:3em;\">\n            {{msg.payload}}\n        </span>\n    </div>\n</md-card-content>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1c34a454ddaaedb0",
        "type": "mqtt in",
        "z": "a4f96bc176866912",
        "g": "0ca6e3c9ce04f838",
        "name": "",
        "topic": "esp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9a7a68b2be818d4e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 1220,
        "wires": [
            [
                "f9fd1e69515fa501"
            ]
        ]
    },
    {
        "id": "15b2f818acc74019",
        "type": "mqtt out",
        "z": "a4f96bc176866912",
        "g": "0ca6e3c9ce04f838",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9a7a68b2be818d4e",
        "x": 810,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3894701d05261ef0",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "wheelMQTTLinkOut",
        "mode": "link",
        "links": [
            "569930163fa719a6"
        ],
        "x": 255,
        "y": 900,
        "wires": []
    },
    {
        "id": "569930163fa719a6",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "0ca6e3c9ce04f838",
        "name": "MQTTOutLinkIn",
        "links": [
            "3894701d05261ef0",
            "ebd0e8a801dde883",
            "f325cffcbaacc321",
            "ee3f1938256d57f7",
            "8c4ab2ffa7bc1ad1",
            "8f6dd739c52c4dca"
        ],
        "x": 665,
        "y": 1140,
        "wires": [
            [
                "15b2f818acc74019"
            ]
        ]
    },
    {
        "id": "ebd0e8a801dde883",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "WaterMQTTLinkOut",
        "mode": "link",
        "links": [
            "569930163fa719a6"
        ],
        "x": 255,
        "y": 1240,
        "wires": []
    },
    {
        "id": "f325cffcbaacc321",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "StarMQTTLinkOut",
        "mode": "link",
        "links": [
            "569930163fa719a6"
        ],
        "x": 815,
        "y": 900,
        "wires": []
    },
    {
        "id": "f9fd1e69515fa501",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "0ca6e3c9ce04f838",
        "name": "MQTTInLinkOut",
        "mode": "link",
        "links": [
            "2c979a659acc3d47",
            "42fb4f57bcac47b0",
            "9a295779bec58739"
        ],
        "x": 825,
        "y": 1220,
        "wires": []
    },
    {
        "id": "9a295779bec58739",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "wheelMQTTLinkIn",
        "links": [
            "f9fd1e69515fa501"
        ],
        "x": 75,
        "y": 1040,
        "wires": [
            [
                "b7c0eac3c9c89276"
            ]
        ]
    },
    {
        "id": "42fb4f57bcac47b0",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "WaterMQTTLinkIn",
        "links": [
            "f9fd1e69515fa501"
        ],
        "x": 75,
        "y": 1380,
        "wires": [
            [
                "34c4745ff1db18eb"
            ]
        ]
    },
    {
        "id": "2c979a659acc3d47",
        "type": "link in",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "StarMQTTLinkIn",
        "links": [
            "f9fd1e69515fa501"
        ],
        "x": 655,
        "y": 1040,
        "wires": [
            [
                "72f18acaaecfef17"
            ]
        ]
    },
    {
        "id": "34c4745ff1db18eb",
        "type": "function",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "process mqtt",
        "func": "if (global.get(\"waterState\") != \"SOLVED\") {\n    if (msg.payload == \"water_hint\") {\n        msg.waterState = \"HINT_GIVEN\";\n        global.set(\"waterState\", \"HINT_GIVEN\");\n    } else if (msg.payload == \"water_solved\") {\n        msg.waterState = \"SOLVED\";\n        global.set(\"waterState\", \"SOLVED\");\n    }\n}\n\nif (msg.payload == \"global_reset\") {\n    msg.waterState = \"UNSOLVED\";\n    global.set(\"waterState\", \"UNSOLVED\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1380,
        "wires": [
            [
                "7155ab9a57e47f29"
            ]
        ]
    },
    {
        "id": "7155ab9a57e47f29",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "c4d92acdbd42331d",
        "name": "waterProcessMQTT",
        "mode": "link",
        "links": [
            "ecc6854442331ff4"
        ],
        "x": 365,
        "y": 1380,
        "wires": []
    },
    {
        "id": "330b4585e0723247",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "WheelsProcessMQTT",
        "mode": "link",
        "links": [
            "5527ea2c99f12d24"
        ],
        "x": 355,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b7c0eac3c9c89276",
        "type": "function",
        "z": "a4f96bc176866912",
        "g": "9c7d78ee02176f63",
        "name": "process mqtt",
        "func": "if (global.get(\"wheelState\") != \"SOLVED\") {\n    if (msg.payload == \"wheels_hint\") {\n        msg.wheelState = \"HINT_GIVEN\";\n        global.set(\"wheelState\", \"HINT_GIVEN\");\n    } else if (msg.payload == \"wheels_solved\") {\n        msg.wheelState = \"SOLVED\";\n        global.set(\"wheelState\", \"SOLVED\");\n    }\n}\n\nif (msg.payload == \"global_reset\") {\n    msg.wheelState = \"UNSOLVED\";\n    global.set(\"wheelState\", \"UNSOLVED\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "330b4585e0723247"
            ]
        ]
    },
    {
        "id": "72f18acaaecfef17",
        "type": "function",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "process mqtt",
        "func": "if (global.get(\"starState\") != \"SOLVED\") {\n    if (msg.payload == \"star_hint\") {\n        msg.starState = \"HINT_GIVEN\";\n        global.set(\"starState\", \"HINT_GIVEN\");\n    } else if (msg.payload == \"star_solved\") {\n        msg.starState = \"SOLVED\";\n        global.set(\"starState\", \"SOLVED\");\n    }\n}\n\nif (msg.payload == \"global_reset\") {\n    msg.starState = \"UNSOLVED\";\n    global.set(\"starState\", \"UNSOLVED\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "c937ababb5fe3b98"
            ]
        ]
    },
    {
        "id": "c937ababb5fe3b98",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "85515f983c53c469",
        "name": "StarProcessMQTT",
        "mode": "link",
        "links": [
            "eee16df81cdf277c"
        ],
        "x": 995,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ee3f1938256d57f7",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "global reset out",
        "mode": "link",
        "links": [
            "569930163fa719a6"
        ],
        "x": 205,
        "y": 440,
        "wires": []
    },
    {
        "id": "8f6dd739c52c4dca",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "709938a60746276d",
        "name": "On Game Start",
        "mode": "link",
        "links": [
            "569930163fa719a6"
        ],
        "x": 495,
        "y": 360,
        "wires": []
    },
    {
        "id": "ce289c119366c49a",
        "type": "mqtt in",
        "z": "a4f96bc176866912",
        "g": "0ca6e3c9ce04f838",
        "name": "",
        "topic": "esp_timer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9a7a68b2be818d4e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 700,
        "y": 1300,
        "wires": [
            [
                "bfffa509f87ac0a2"
            ]
        ]
    },
    {
        "id": "bfffa509f87ac0a2",
        "type": "link out",
        "z": "a4f96bc176866912",
        "g": "0ca6e3c9ce04f838",
        "name": "MQTTInLinkOut",
        "mode": "link",
        "links": [
            "7641d954812b5542"
        ],
        "x": 825,
        "y": 1300,
        "wires": []
    },
    {
        "id": "dbaf4517e79d3559",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "6c453540d97d0a85",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "dd1d8c81785a5a30",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "a923c0b13506cefd",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "aea1fc5dbf45cd6a",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "223068d00abc2706",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "1ac622cc4007f37f",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "db3f412b11f1fa9d",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "31c5b3ab7fa3a1ef",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 14,
        "width": 8,
        "height": 1
    },
    {
        "id": "6ec134399986cd34",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 16,
        "width": 8,
        "height": 1
    },
    {
        "id": "9551cdcd560aa069",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 17,
        "width": 18,
        "height": 1
    },
    {
        "id": "ab0ffe9bd958c3da",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 30,
        "width": 6,
        "height": 1
    },
    {
        "id": "a1250b6e20650495",
        "type": "ui_spacer",
        "z": "a4f96bc176866912",
        "name": "spacer",
        "group": "2167d545401575ce",
        "order": 32,
        "width": 6,
        "height": 1
    },
    {
        "id": "2167d545401575ce",
        "type": "ui_group",
        "name": "Game Control",
        "tab": "ff24fa37c64a35b4",
        "order": 1,
        "disp": false,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a7a68b2be818d4e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ff24fa37c64a35b4",
        "type": "ui_tab",
        "name": "Main",
        "icon": "dashboard",
        "order": 0,
        "disabled": false,
        "hidden": false
    }
]